*,
body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  color: #333;
  box-sizing: border-box;
}
img {
  width: 100%;
}
section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
header {
  color: #fff;
  top: 0;
  left: 0;
  height: 100vh;
  background-color: #17181b;
  position: fixed;
  width: 20%;
}
main {
  margin-left: auto;
  width: 80%;
  background-size: cover;
  overflow: hidden;
}

/* Header styles */
.mak-alamin {
  text-align: center;
  margin-bottom: 40px;
}
.mak-alamin img {
  max-width: 240px;
}
.mak-alamin h1 {
  color: #fff;
  font-size: 1.4rem;
}
nav {
  text-align: center;
}

nav ul li {
  list-style: none;
}
nav ul li a {
  display: block;
  padding: 10px;
  color: rgb(144 146 151);
  text-decoration: none;
  transition: 0.3s all ease-in-out;
}
nav ul li a:hover {
  color: #fff;
}
/* Header style ends */

/* Home Section */
section.home {
  background: url("../images/coffee-relax.jpg") no-repeat center center fixed;
  background-size: cover;
}
.overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
}
.home h1 {
  font-size: 3.5rem;
  font-weight: 300;
  color: rgb(255, 255, 255);
  text-shadow: 0 0 50px #000;
  margin-bottom: 20px;
}
.home h1 span {
  font-size: 3.5rem;
  font-weight: 500;
  color: #00a3e1;
}
.home h2,
.home h2 span {
  font-size: 1.3rem;
  color: #fff;
}
/* Home section ends */

/* About section */
section.about,
section.services,
section.skills,
section.portfolio,
section.contact {
  padding: 40px;
}
