:root {
  --link-gray: #8b9ec2;
  --link-white: #ffffff;
  --link-blue: #00aeb4;
  --link-light: #dae6fc;
}
*,
body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  color: #333;
  box-sizing: border-box;
}
.row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}
.col-12 {
  flex-basis: 100%;
}
.col-8 {
  flex-basis: 64%;
}
.col-6 {
  flex-basis: 48%;
}
.col-4 {
  flex-basis: 32%;
}
.mb-3 {
  margin-bottom: 30px;
}
.text-center {
  text-align: center;
}
img {
  width: 100%;
}
section {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
header {
  color: #fff;
  top: 0;
  left: 0;
  height: 100vh;
  background-color: #03203c;
  position: fixed;
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 20px;
}
main {
  margin-left: auto;
  width: 80%;
  background-size: cover;
  overflow: hidden;
}

/* Header styles */
.mak-alamin {
  text-align: center;
}
.mak-alamin img {
  max-width: 240px;
}
.mak-alamin h1 {
  color: #fff;
  font-size: 1.4rem;
}
nav {
  text-align: center;
}

nav ul li {
  list-style: none;
}
nav ul li a {
  display: block;
  padding: 10px;
  color: var(--link-gray);
  text-decoration: none;
  transition: 0.3s all ease-in-out;
}
nav ul li a:hover {
  color: #fff;
}
/* Header style ends */

/* Home Section */
section.home {
  height: 100vh;
  background: url("../images/coffee-relax.jpg") no-repeat center center;
  background-size: cover;
}
.overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: rgb(3, 32, 60, 0.5);
  width: 100%;
  height: 100%;
}
.home h1 {
  font-size: 3.5rem;
  font-weight: 500;
  color: var(--link-light);
  text-shadow: 0 0 50px #000;
  margin-bottom: 20px;
}
.home h1 span {
  font-size: 3.5rem;
  color: var(--link-blue);
}
.home h2,
.home h2 span {
  font-size: 1.3rem;
  color: var(--link-light);
}
/* Home section ends */

/* About section */
section.about,
section.services,
section.skills,
section.portfolio,
section.contact {
  padding: 40px;
}
/* About section ends */

/* Contact Section */
.contact h3 {
  margin-bottom: 20px;
}
.contact p {
  padding: 6px 0;
}
.contact p a {
  color: var(--link-blue);
}
.contact form {
  max-width: 600px;
  margin: 0 auto;
}
.contact form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}
.contact form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}
.contact input[type="submit"] {
  max-width: 200px;
  font-size: 17px;
}
.contact input[type="submit"]:hover {
  cursor: pointer;
  background-color: #00a3e1;
  transition: 0.3s all;
}
/* Contact ends */

/* Footer */
.nav-footer {
  text-align: center;
}
.nav-footer ul {
  display: flex;
  justify-content: center;
}
.nav-footer ul li {
  list-style: none;
}
.nav-footer a,
.nav-footer a i,
.nav-footer p {
  color: var(--link-gray);
  padding: 10px;
}
.nav-footer p {
  font-size: 12px;
}
.nav-footer a:hover i {
  transition: 0.3s all ease-in-out;
  color: var(--link-blue);
}
/* Footer ends */
